* {
    box-sizing: border-box;
}

.wrapper {
    width: 810px;
}

header,
main,
aside,
footer {
    background-color: gray;
}

header {
    height: 90px;
    padding: 10px;
    margin-bottom: 10px;
}

.logo {
    background-color: crimson;
    height: 2em;
    margin-bottom: .5em;
}

nav {
    background-color: lightgray;
    height: 30px;
}

main,
aside {
    height: 400px;
    float: left;
    margin-bottom: 10px;
}

main {
    width: 600px;
    margin-right: 10px;
    padding: 10px;
}

article {
    background-color: lightblue;
    height: 70px;
    width: 66%;
    margin-bottom: 10px;
}

aside {
    width: 200px;
}

footer {
    clear: both;
    height: 90px;
}